//colors used in the website

//bluish-gray
$primary-font-color: #C5C9C3;
$dark-color: #42282C;
//gray
//#C5C9C3;
//light pink
$secondary-decor-color: #F6ADCB;


$back-color: #397579;
//dark turquoise
//#397579