//All fonts used for the website

//Roboto 
@font-face {
    font-family: Roboto-Regular;
    src: url(../font/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../font/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}