/*
#newTopic 
{
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight: 900;

}

hr 
{
  border-style: dashed;
  border-color: #F6ADCB;
  border-width: 2px;
}

#funnyTitle
{
  color: #55738B;
  padding-top: .5em;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  font-weight: 900;
}

#underFunnyTitle
{
  color: #55738B;
  font-size: 1em;

}

.memes 
{
  font-size: 2em;
  color: #55738B;
  padding-top: 1em;

}

.memeLink
{
  color: #F6ADCB;
   text-decoration: none;
   font-weight: 700;
}
*/
/*
.memeLink:hover, .memeLink:active 
{
  color: #FF3D7F;

}
background-color: #E8E8E8;
*/
/*
.image
{
  height: 10em;
  display: inline;
  text-align: left;

}

.memePics li 
{
 display: inline;
 padding-right: .5em;
 padding-bottom: .5em;
}

*/