.home {
	 display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 1em;
}
.profilePic {
	background:url(../img/home-pic/resumePhoto.jpg) no-repeat;
	display: block;
	width: 150px;
	height: 150px;
	margin: 1em auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 5px solid #C5C9C3;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
	margin-right: 3em;
	margin-top: 0;

}
.profile-section {
	display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;
}
.intro {
  color: $primary-font-color;
  width: 12em;
  text-align: left;
  margin-right: 1em; 
}
#introTitle
{
  font-family: $decor-font, cursive;
  font-size: $sm-med-font;
}
.intro h2 
{
  font-family: $primary-font;
  font-size: $small-font;
}
.intro p {
	font-size: $tiny-font;
	margin-top: 1em;
}
.intro-enjoy {
	text-align: center;
	margin-bottom: 1em;
	margin-right: 2.25em;
}
.home-star-pic {
	width: 10em;
	height: 10em;
}
#sig
{
  font-family: $decor-font, cursive;
  font-size: $sm-med-font;
  text-align: center;
  margin-right: 1.25em;
}
.twitter-user-div, .twitter-div {
	width: 20em;
}

