.profilePic 
{
  display: block;
  width: 12em;
  height: 12em;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  border: 6px solid #F6ADCB;
}