/*.aboutMePics 
{
  display: block;
  width: 12em;
  height: 12em;
  max-width: 100%;
  margin: 4em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  border: 6px solid #F6ADCB;
}*/
.about-me-h1 {
  color: white;
}
.about-me-section p {
  color: red; 
}